.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-grid {
    background-color: rgb(235, 235, 235);
    border: 1px solid #ccc;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.p-col-8 {
    width: auto;
}

.p-field {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.p-field label {
    flex: 0 0 40%;
    margin-right: 1rem;
}

.p-field input {
    flex: 1;
}

.p-text-center {
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.p-field button {
    margin-top: 1rem;
    display: block;
    margin: 0 auto;
}
